/* Căn giữa màn hình */

.login-page {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    background-color: #f8f9fa;
    /* Nền nhẹ nhàng hơn */
}


/* Hộp chứa login */

.login-container {
    width: 430px;
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 320px;
    margin: 70px;
}


/* Tiêu đề */

.login-container h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}


/* Ô input */

.input-field {
    width: 95%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}


/* Nút đăng nhập */

.login-button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.login-button:hover {
    background-color: #0056b3;
}


/* Đăng ký */

.register {
    margin-top: 15px;
    font-size: 14px;
}

.register-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.register-link:hover {
    text-decoration: underline;
}