.pregnancy-container {
    text-align: center; 
}

.rectangle-box {
    padding: 20px; 
    margin-right: 50px;
    margin-left: 50px;
    background-color: #f0f0f0; 
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
}

.circle-box {
    width: 100px; 
    height: 100px; 
    background-color: #4CAF50; 
    color: white; 
    border-radius: 50%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin: 0 auto; 
}
.info-section {
    text-align: center; 
    margin: 0 auto; 
    width: 80%;
}
.ovulation-image {
    width: 700px;
    margin: 10px 0; 
    border-radius: 10px; 
}
.weight-table {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .weight-box {
    display: flex;
    background: #f5f5f5;
    padding: 15px 20px;
    border-radius: 10px;
    width: 300px;
    justify-content: space-between;
    align-items: center;
  }
  
  .weight-section {
    text-align: center;
  }
  
  .weight-section h4 {
    font-size: 14px;
    color: #333;
    font-weight: 500;
  }
  
  .weight-value {
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
  }
  
  .divider {
    width: 1px;
    background: #ccc;
    height: 40px;
  }
    
