/* src/index.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fcf8ec;
}

html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.app {
    /* display: flex; */
    flex-direction: column;
    min-height: 100vh;
    background: #f2fffa8f;
    /* Chiều cao tối thiểu bằng 100% viewport */
}

.main-content {
    flex: 1;
    /* Tự động mở rộng để đẩy footer xuống */
}